body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .faq-header {
    position: relative;
    text-align: center;
  }
  
  .faq-header img {
    width: 100%;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  .header-content h1 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .search-box {
    position: relative;
    width: 250%;
    max-width: 1000px;
    left: 45%;
    transform: translateX(-45%);
  }
  
  .search-box input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    outline: none;
  }
  
  .search-box input[type="text"]::placeholder {
    color: rgb(215, 215, 215);
  }
  
  .search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
  }
  
  .faq-section {
    max-width: 875px;
    margin: 55px auto;
    padding: 0 0px;
    text-align: center;
  }
  
  .faq-section h2 {
    font-size: 28px;
    margin-bottom: 35px;
  }
  
  .faq-container {
    width: 105%;
    margin: 0 auto;
  }
  
  .faq-item {
    border: 1px solid #000000;
    padding: 18px;
    margin-bottom: 0px;
    background-color: #fff;
  }
  
  .faq-item p {
    margin: 0;
    line-height: 1.6;
    text-align: justify;
  }
  
  strong {
    display: block;
    margin-bottom: 0px;
  }
  
  .contact-reminder {
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  
  .email-link {
    color: #e45c74;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  
  .proceed-container {
    width: 105%;
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: flex-end;
  }
  
  .proceed-btn {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .site-footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
  