.container{
    margin: 0 8%;
}
.container .pro-con{
    display: flex;
}
.container h1{
    display: flex;
    text-align: center;
    font-size: 8rem;
    align-items: center;
    justify-content: space-between;
}
.img-con{
    margin: 3% 0;
    width: 600px;
    height: 600px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}
.img-con img{
    width: 100%;
    height: 100%;
}
.info-con{
    margin: 4% 0;
    padding: 0 5%;
}
.info-con h1, h3{
    margin: 5% 0;
}
.info-con h2{
    font-size: 2rem;
}

.info-con h3{
    font-size: 1.5rem;
}
.info-con h1{
    font-size: 3rem;
}
.info-con .fa-star{
    color: #FFDF00;
}
.qnty-con{
    display: flex;
    align-items: center;
}
.qnty-con p{
    font-size: 1.4rem;
    margin-right: 3%;
}
.qnty-con .counting-box{
    font-size: 2rem;
    border: solid;
    border-width: 1.5px 0px 1.5px 0px;
}
.minus-box ,.plus-box,.counting-box{
    display: flex;
    align-items: center;
    width: 100px;
    height: 70px;
    justify-content: center;
    font-size: 1.5rem;
    border: 1.5px solid;
}
.buttons{
    display: flex;
    margin: 15% 5%;
}
.buttons button{
    width: 260px;
    height: 70px;
    margin: 0 5%;
    font-size: 1.7rem;
    border: none;
}
.bn-btn{
    background: var(--debug-color);
    color: var(--textv2-color);
}
.atc-btn{
    background: var(--backgroundv2-color);
    color: var(--textv2-color);
}

.container .MYL,.best-seller{
    margin-top: 6%;
}
.container .MYL .na-products,.bs-products{
    display: flex;
}
.na-products,.bs-products{
    gap: 45px;
}

.MYL .na-info{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MYL .na-info-icon a i{
    font-size: 1.5rem;
    margin-left: 50px;
}
.container .MYL h2{
    margin: 4% 0;
}
.container .MYL .na-products{
    width: 450px;
    height: 600px;
}
.container .MYL .na-products .na-pro-img{
    width: 450px;
    height: 470px;
}
.container .container .MYL .na-products .na-pro-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.na-products .na-pro-info{
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.na-products .na-pro-info .na-pro-info-left h3{
    font-size: 1.2rem;
}
.na-products .na-pro-info .na-pro-info-left .price{
    font-size: 1.5rem;
}
.na-pro-info-right a{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--textv2-color);
    background-color: var(--backgroundv2-color);
}